<div class="layout">
  <app-linechart title="Score evolution" [population]="getPopulation$() | async" label="Score"> </app-linechart>

  <diV>
    <table>
      <tr>
        <th> ID </th>
        <th> Score </th>
        <th> Health Packs </th>
        <th> Damage </th>
        <th> Accuracy </th>
      </tr>
      <tr *ngFor="let score of scores" >
        <td> {{score.id}} </td>
        <td> {{score.score.toFixed(2)}} </td>
        <td> {{score.nbHealthPack}} </td>
        <td> {{score.damageReceived}} </td>
        <td> {{score.accuracy.toFixed(2)}} </td>
        <td> {{score.state}} </td>
      </tr>
    </table>
  </diV>
</div>