table {
    border-collapse:collapse;
    margin: 5px;
}

td {
    width: 100px;
    text-align: center;
    border-bottom: 1px solid black;
    padding: 5px;
}

.layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 30px;
}