<div class="layout">
  <app-linechart class="chart" title="Living score evolution" [population]="getPopulation$() | async" [labels]="getLabels$() | async"> </app-linechart>
  <app-linechart class="chart" title="Dead score evolution" [population]="getDeadPopulation$() | async" [labels]="getLabels$() | async"> </app-linechart>

  <diV>
    <table>
      <tr>
        <th> ID </th>
        <th> Score </th>
        <th> Generation </th>
        <th> lifespan </th>
        <th> Health Packs </th>
        <th> Damage </th>
        <th> Accuracy </th>
      </tr>
      <tr *ngFor="let score of scores" >
        <td> {{score.id}} </td>
        <td> {{score.score.toFixed(2)}} </td>
        <td> {{score.generation}} </td>
        <td> {{formatTime(score.lifespan)}} </td>
        <td> {{score.nbHealthPack}} </td>
        <td> {{score.damageReceived}} </td>
        <td> {{score.accuracy.toFixed(2)}} </td>
      </tr>
    </table>
  </diV>
</div>