<p> Elapsed time: {{formatTime()}} </p>
<div class="layout">
    <!--
    <div>
        <app-ship name="Alive oldest ship" [ship]="aliveOldestShip"> </app-ship>
        <app-ship name="Simulation oldest ship" [ship]="oldestShip"> </app-ship>
    </div>
    -->
    <div class="graphLayout">
        <app-linechart title="Nb of ships" [population]="getPopulation$() | async"> </app-linechart>
        <app-radarchart title="Oldest ship alive's phenotype" [labels]="getLabelsOldestShips$() | async" [data]="getDataOldestShips$() | async"
            [serieTitles]="getSerieTitlesOldestShips$() | async"> </app-radarchart>
        <app-barchart title="Ship attractions" [labels]="getLabelsShipAttractions$() | async"
            [data]="getDataShipAttractions$() | async" [serieTitles]="getSerieTitlesShipAttractions$() | async"> </app-barchart>
        <app-barchart title="FOV repartition" [labels]="getLabelsFOV$() | async" [data]="getDataFOV$() | async"> </app-barchart>
        <app-barchart title="Radar repartition" [labels]="getLabelsRadar$() | async" [data]="getDataRadar$() | async"> </app-barchart>
        <app-barchart title="Fire rate repartition" [labels]="getLabelsFire$() | async" [data]="getDataFire$() | async"> </app-barchart>
    </div>
</div>