<div class="grid">
    <canvas class="scene" id="scene" width="800" height="800"> </canvas>
</div>

<!--
<div class="grid">
    <p> {{nbShips}} - {{nbHealth}} - {{nbMissiles}} </p>

    <h3> Ships coordinates </h3> 
    <ul>
        <li *ngFor="let ship of ships">
            id: {{ ship[0] }} - x: {{ ship[1] }} - y: {{ ship[2] }}
        </li>
    </ul>   
</div>

<div class="grid">
    <h3> Health coordinates </h3>
    <ul>
        <li *ngFor="let health of healths">
            id: {{ health[0] }} - x: {{ health[1] }} - y: {{ health[2] }} - dead: {{ health[3] }}
        </li>
    </ul>
</div>

<div class="grid">
    <h3> Missiles health </h3>
    <ul>
        <li *ngFor="let missile of missiles">
            id: {{ missile[0] }} - life: {{ missile[1] }}
        </li>
    </ul>
</div>
-->